<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.FLAVOR.mvp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.FLAVOR.mvp.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/foowinkle_icon4_round"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/foowinkle_icon4_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.FLAVOR.mvp.activity.SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.FLAVOR.mvp.activity.FaceBookActivity">
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAoYdrzLOpdCRtyVGnopXgQdVfPm9adhx8" />  <!-- 구글맵 이용을 위한 구글맵API키       개발용 디버그api키:  AIzaSyAoYdrzLOpdCRtyVGnopXgQdVfPm9adhx8 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />   <!-- 카카오톡 로그인을 위한 API키 -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />       <!-- 페이스북 sdk 광고모니터링을 위한것 -->

        <activity android:name="com.FLAVOR.mvp.feeds.PostActivity" />
        <activity android:name="com.FLAVOR.mvp.feeds.MainActivity"/>
        <activity android:name="com.FLAVOR.mvp.activity.CameraActivity"/>
        <activity android:name="com.FLAVOR.mvp.activity.Galleryactivity"/>
        <activity android:name="com.FLAVOR.mvp.activity.BasicActivity"/>
        <activity android:name="com.FLAVOR.mvp.writepost.WritePostActivity"/>
        <activity android:name="com.FLAVOR.mvp.activity.KakaoLoginActivity">
        </activity>
        <activity android:name="com.FLAVOR.mvp.appIntro.AppIntroActivity"/>   <!-- 리다이렉트url을 위한 부분임.AuthCodeHandlerActivity는 카카오에서 제공하는 액티비티임. -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakaoc96f6bd57c1d1f50be96460adb9705c3" />
            </intent-filter>
        </activity>
    </application>

</manifest>